/* styles.css */
.custom-box::before,
.custom-box::after {
  content: '•';
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  line-height: 12px;
  text-align: center;
}

.custom-box::before {
  top: 5px;
  left: 5px;
}

.custom-box::after {
  top: 5px;
  right: 5px;
}

.custom-box-inner::before,
.custom-box-inner::after {
  content: '•';
  position: absolute;
  width: 14px;
  height: 14px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  border: 2px solid rgba(255, 255, 255, 0.5);
  line-height: 12px;
  text-align: center;
}

.custom-box-inner::before {
  bottom: -2px;
  left: -2px;
}

.custom-box-inner::after {
  bottom: -2px;
  right: -2px;
}
